{% extends "db_template.html" %}

{% block title %} Chemical Inventory {% endblock %}
{% block header %} Chemical Inventory {% endblock %}
{% block add_button %} New Chemical {% endblock %}
{% block modal_title %} New Chemical {% endblock %}

{% block search_box %}
    {% from "formhelpers.html" import render_field %}
    <form method="POST" action="/chemicals">
      {{ searchForm.csrf_token }}
      {{ render_field(searchForm.search(placeholder="Search...")) }}
      <input id="input" type="submit" name="button" style="display: none;">
    </form>
{% endblock %}

{% block modal_content %}
    {% from "formhelpers.html" import render_field %}
    <form method="POST" action="/chemicals">
        <p>Chemical Name: <input type="text" name="Name"/></p>
        <p>Alternate Name: <input type="text" name="Alternate name"/></p>
        <p>Vendor: <input type="text" name="Vendor"/></p>
        <p>CAS Number: <input type="number" name="CAS"/></p>
        <p>Description: <input type="text" name="Description"/></p>

        <p><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
            Safety Information
        </button></p>

        <div class="collapse" id="collapse1">
            <div class="card card-body">
                <p>Hazard Note: <input type="text" name="Hazard Note"/></p>
                <p>GHS Hazards: <br>
                    <input type="checkbox" name="Flammable">Flammable<br>
                    <input type="checkbox" name="Explosive">Explosive<br>
                    <input type="checkbox" name="Health Hazard">Health Hazard<br>
                    <input type="checkbox" name="Oxidizing">Oxidizing<br>
                    <input type="checkbox" name="Compressed Gas">Compressed Gas<br>
                    <input type="checkbox" name="Irritant">Irritant<br>
                    <input type="checkbox" name="Environment">Environmental Hazard<br>
                    <input type="checkbox" name="Corrosive">Corrosive<br>
                    <input type="checkbox" name="Toxic">Toxic<br>
                </p>
            </div>
        </div>

        <p><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
            Location
        </button></p>

        <div class="collapse" id="collapse2">
            <div class="card card-body">
                <p>Building: <input type="text" name="Building"/></p>
                <p>Room: <input type="text" name="Room"/></p>
                <p>Cabinet: <input type="text" name="Cabinet"/></p>
                <p>Shelf: <input type="text" name="Shelf"/></p>
            </div>
        </div>

        <div class="modal-footer">
        <input type="submit" class="btn btn-secondary" name="button" value="Add">
        </div>
    </form>
{% endblock %}

{% block display_content %}
    <h2 align="left">All Chemicals</h2>
    <div class="row">
        <div class="col-sm">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="hidden">ID</th>
                  <th>Name</th>
                  <th>Vendor</th>
                  <th>CAS Number</th>
                </tr>
              </thead>
              <tbody id="bootstrap-override">
                {% for chemical in chemicals %}
                <tr id="chemical_row" class="clickable" data-toggle="modal" data-target="#myModal">
                  <td class="hidden">{{ chemical.id }}</td>
                  <td>{{ chemical.name }}</td>
                  <td>{{ chemical.vendor }}</td>
                  <td>{{ chemical.CAS }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>  
        </div>  
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(function(){
        $('tr#chemical_row.clickable').click(function(event) {
            var chem_id = event.target.parentNode.cells.item(0).innerText;
            if (chem_id) {
                window.location = '/chemical_details?id=' + chem_id;
            }
        });
    });
    </script>
{% endblock %}