<doctype html>

<html>
	<head>
		<title>Formulation Database</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>

	<body>
		<script>
    		if ( window.history.replaceState ) {
        		window.history.replaceState( null, null, window.location.href );
    		}
		</script>

		<div style="display:flex; justify-content:flex-start; width:100%; padding-top: 65px; padding-left: 40px;">
			<button type="button" class="btn btn-primary" onclick="window.location.href='/';">Home</button>
		</div>

		<h1 class="display-4" align="center">Formulation Database</h1>

		<div class="container" align="center" style="display:flex; justify-content:flex-start; width:100%; padding-top: 10px">
		   	{% from "formhelpers.html" import render_field %}
		   	<form method="POST" action="/formulations">
		   		{{ searchForm.csrf_token }}
	 	   		{{ render_field(searchForm.search(placeholder="Search by name...")) }}
	 	   		<input type="submit" class="btn btn-secondary" name="button" value="Search" style="display: none;">
			</form>
	 	</div>

		<div class="container" align="center" style="display:flex; justify-content:flex-start; width:100%; padding-bottom: 20px">
			<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">Refine Search</button>
			<div class="collapse" id="collapse1">
				<div class="card card-body">
					<div class="d-flex justify-content-center my-4" align="center" style="width:100%;">
					  <span class="font-weight-bold indigo-text mr-2 mt-1">0</span>
					  <form class="range-field w-25">
					    <input class="border-0" type="range" min="0" max="100" id="slider" value="13"/>
					  </form>
					  <span class="font-weight-bold indigo-text ml-2 mt-1">100</span>
					</div>

					<script>
						$(function() {
							slider = document.getElementById("slider");
							slider.oninput = function() {
								console.log(slider.value);
								val = slider.value;
								window.location = '/formulations?vol_filler=' + val;
							}
						});
					</script>
				</div>
			</div>
		</div>

		<div class="container" align="center">
		<!-- add button, striggers popup -->
		<div style="display:flex; justify-content:flex-start; width:100%; padding-bottom: 20px;">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Add</button>
		</div>
		</div>

		<!-- popup -->
		<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle">New Project</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
			    {% from "formhelpers.html" import render_field %}
				<form method="POST" action="/formulations">
					<p>Name: <input type="text" name="Name"/></p>
					<p>Project Lead: <input type="text" name="Project Lead"/></p>
					<p>Goal: <input type="text" name="Goal"/></p>
					<p>Date Started: <input type="text" name="Date Started"/></p>
				  	<div class="modal-footer">
			        	<input type="submit" class="btn btn-secondary" name="button" value="Add">
			      	</div>
	      		</form>
	 		  </div>
			</div>
		  </div>
		</div>

		<div class="container" align="left">
			<ul class="nav nav-tabs">
			  <li class="nav-item">
			    <a class="nav-link active" href="#Projects" data-toggle="tab">Project View</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#Formulations" data-toggle="tab">Formulation View</a>
			  </li>
			</ul>
			<div class="tab-content">
    			<div id="Projects" class="tab-pane active in">
				  <div class="row">
				    <div class="col-sm">
						<table class="table table-striped" id="owned_stock_table">
					      <thead>
					        <tr>
					          <th>Name</th>
					          <th>Project Lead</th>
					          <th>Date Created</th>
					        </tr>
					      </thead>
					      <tbody id="bootstrap-override">
					        {% for project in projects %}
					        <tr id="project_row" class="clickable">
					          <td class="hidden">{{ project.id }}</td>
					          <td>{{ project.name }}</td>
					          <td>{{ project.project_lead}}</td>
					          <td>{{ project.date_started}}</td>
					        </tr>
					        {% endfor %}
					      </tbody>
					    </table>
					</div>
				  </div>
			    </div>

			    <div id="Formulations" class="tab-pane fade">
			      <div class="row">
				    <div class="col-sm">
						<table class="table table-striped" id="owned_stock_table">
					      <thead>
					        <tr>
					          <th>Name</th>
					          <th>Project</th>
					        </tr>
					      </thead>
					      <tbody id="bootstrap-override">
					      	{% for project in projects %}
						        {% for formulation in project.formulations.all() %}
						        <tr id="formulation_row" class="clickable">
						          <td>{{ formulation.name }}</td>
						          <td>{{ project.name}}</td>
						        </tr>
						        {% endfor %}
						    {% endfor %}
					      </tbody>
					    </table>
					</div>
				  </div>
			    </div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript">
			$(function(){
				$('tr#project_row.clickable').click(function(event) {
					var proj_id = event.target.parentNode.cells.item(0).innerText;
					if (proj_id) {
        				window.location = '/project_details?id=' + proj_id;
    				}
				});
			});
		</script>

	</body>
</html>