{% extends "details_template.html" %}

{% block title %} {{selected.name}} Details {% endblock %}

{% block header_content %}
    <div style="width:10%; padding-left: 10px;">
        <button type="button" class="btn btn-primary" onclick="window.location.href='/formulations';">Back</button>
    </div>
    <h1 class="display-4" align="center">{{selected.name}}</h1>
    <p class="lead" align="center">{{selected.goal}}</p>
    <hr class="my-4">
    <p align="center">Project Lead: {{selected.project_lead}}</p>
    <p align="center">Date Created: {{selected.date_started}}</p>
{% endblock %}

{% block body_content %}
    <div id="accordion" class="bootstrap-override">
      {% for formula in selected.formulations.all() %}
      <div class="card">
        <div class="card-header" id="heading">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_{{formula.formula_id}}" aria-expanded="false" aria-controls="collapse_{{formula.formula_id}}">
              {{formula.name}}
            </button>
          </h5>
        </div>

        <div {% if formula.name == selected_formula %} class="collapse show" {% else %} class="collapse" {% endif %}
             id="collapse_{{formula.formula_id}}" aria-labelledby="heading" data-parent="#accordion">
          <div class="card-body">
            <h2>Chemical ingredients:</h2>
            {% for chemical in formula.chemicals.all() %}
                <ul>
                    <li>{{chemical.name}}</li>
                </ul>
            {% endfor %}
            <h2>Properties:</h2>
                <ul>
                    <li>Filler volume percent: {{formula.results.filler_vol_percent}}</li>
                    <li>Filler volume weight: {{formula.results.filler_weight_percent}}</li>
                </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js">
        $( window ).on( "load", function() {
            console.log('made it')
            $("#accordion").accordion("option", "active", 0);
        });
    </script>
{% endblock %}